# Ignore all
*

# Except
!.gitignore
!.scripts
!.config
!.bashrc
!.bash_profile
!.emoji
!.font-awesome-list
!.profile
!.screenlayout
!.tmux.conf
!.vim
!.vimrc
!.Xdefaults
!.xinitrc
!.xprofile
!.Xresources
!.zprofile
!.zsh
!.zshrc
