#!/bin/sh

setbg & # Set default background
sxhkd & # Bind keys

# Set hebrew layout change with Alt+Shift
setxkbmap -option grp:alt_shift_toggle us,il &

# Properties button extra Mod/Escape
xmodmap -e 'keycode 135 = Super_R' &

# set cursor speed
xset r rate 300 50 &  # Set xrate speed

unclutter &		# Remove mouse when idle
xcompmgr &		# xcompmgr for transparency
dunst &			# dunst for notifications
numlockx on &
