! special
*.foreground:   #f2e6c9
*.background:   #272929
*.cursorColor:  #c5c8c6

! black
*.color0:       #1d2021
*.color8:       #373b41

! red
*.color1:       #cc241d
*.color9:       #a54242

! green
*.color2:       #5F9E0E
*.color10:      #8c9440

! yellow
*.color3:       #d79921
*.color11:      #f0c674

! blue
*.color4:       #5f819d
*.color12:      #7197E7

! magenta
*.color5:       #750775
*.color13:      #A77AC4

! cyan
*.color6:       #5e8d87
*.color14:      #8abeb7

! white
*.color7:       #f2e6c9
*.color15:      #c5c8c6

!! Transparency (0-1):
st.alpha: 0.95
st.font: Monospace-11;

! st.termname: st-256color
! st.borderpx: 2

!! Set a default font and font size as below:
!! *.font: Monospace-14;


!! URXVT
! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

! URxvt Remove scrollbar
URxvt.scrollBar: false

! URxvt font
URxvt.font: 9x15
