!! The default colors are "Gruvbox":
*.background: #272929
*.foreground: #f2e6c9

*.color0:	#1d2021
*.color1:	#cc241d
*.color2:	#5F9E0E
*.color3:	#d79921
*.color4:	#1F66A7
*.color5:	#750775
*.color6:	#1E8B9E
*.color7:	#f2e6c9
*.color8:	#272929
*.color9:	#fb4934
*.color10:	#7ABB26
*.color11:	#fabd2f
*.color12:	#1879D2
*.color13:	#800080
*.color14:	#34ADC2
*.color15:	#f1f1f1

!! Transparency (0-1):
st.alpha: 0.95
st.font: Monospace-11;

! st.termname: st-256color
! st.borderpx: 2

!! Set a default font and font size as below:
!! *.font: Monospace-14;


!! URXVT
! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

! URxvt Remove scrollbar
URxvt.scrollBar: false

! URxvt font
URxvt.font: 9x15
