*.foreground:   #fafafa
*.background:   #1d1f21
*.cursorColor:  #fafafa

! black
*.color0:       #111111
*.color8:       #666666

! red
*.color1:       #d36265
*.color9:       #ef8171

! green
*.color2:       #aece91
*.color10:      #cfefb3

! yellow
*.color3:       #e7e18c
*.color11:      #fff796

! blue
*.color4:       #5297cf
*.color12:      #74b8ef

! magenta
*.color5:       #75507b
*.color13:      #ad7fa8

! cyan
*.color6:       #06989a
*.color14:      #34e2e2

! white
*.color7:       #bebebe
*.color15:      #ffffff

!! Transparency (0-1):
st.alpha: 0.90
/* st.font: Monospace-11; */

! st.termname: st-256color
! st.borderpx: 2

!! Set a default font and font size as below:
*.font: Monospace-12;


!! URXVT
! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

! URxvt Remove scrollbar
URxvt.scrollBar: false

! URxvt font
urxvt*font:    xft:mono
